.main-footer{
	background-color: #0b2035;
	padding: 60px 0;
	.main-footer-wrapper{
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
		.main-footer-about{
			max-width: 400px;
			h4{
				color: white;
				font-size: 20px;
				@include font-Poppins-Bold;
				line-height: 1.5;
			}
			p{
				color: white;
				font-size: 14px;
				@include font-Poppins-Regular;
				line-height: 1.5;
				margin-bottom: 0;
			}
		}
		.main-footer-charity{
			color: white;
			font-size: 20px;
			@include font-Poppins-Bold;
			line-height: 1.25;
		}
	}
}