.main-footer{
	background-color: #0b2035;
	padding: 60px 0;
	.main-footer-wrapper{
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 270px 270px;
		@include media-breakpoint-down(lg){
			grid-template-columns: repeat(2, 1fr);
		}
		@include media-breakpoint-down(md){
			grid-template-columns: 1fr;
		}
		//@include media-breakpoint-up(xxl){
		//	grid-template-columns: repeat(3, 1fr);
		//}
		.main-footer-about{
			//max-width: 400px;
			h4{
				color: white;
				font-size: 20px;
				@include font-Poppins-Bold;
				line-height: 1.5;
				margin-bottom: 20px;
			}
			p{
				color: white;
				font-size: 14px;
				@include font-Poppins-Regular;
				line-height: 1.5;
				margin-bottom: 0;
				@include media-breakpoint-up(lg){
					max-width: 85%;
				}
				a{
					color: #6D5DFB;
				}
			}
		}
		.main-footer-disclaimer{
			//max-width: 400px;
			h4{
				color: white;
				font-size: 20px;
				@include font-Poppins-Bold;
				line-height: 1.5;
				margin-bottom: 20px;
			}
			p{
				color: white;
				font-size: 14px;
				@include font-Poppins-Regular;
				line-height: 1.5;
				margin-bottom: 0;
				a{
					color: #6D5DFB;
				}
			}
			.list-unstyled{
				display: flex;
				flex-direction: column;
				margin-bottom: 0;
				row-gap: 10px;
				li{
					a{
						color: #6D5DFB;
						font-size: 16px;
						@include font-Poppins-Medium;
						outline: none;
						text-decoration: none;
					}
				}
			}
		}
		.main-footer-charity{
			display: flex;
			flex-direction: column;
			h4{
				color: white;
				font-size: 20px;
				@include font-Poppins-Bold;
				line-height: 1.5;
				margin-bottom: 20px;
			}
			h5{
				color: white;
				font-size: 16px;
				@include font-Poppins-Medium;
			}
			.list-unstyled{
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				li{
					a{
						svg{
							height: 20px;
							path{
								fill: white;
								transition: linear 0.4s;
							}
						}
						&:hover,
						&:focus{
							svg{
								path{
									fill: #6D5DFB;
								}
							}
						}
					}
				}
			}
		}
		.main-footer-social{
			h4{
				color: white;
				font-size: 20px;
				@include font-Poppins-Bold;
				line-height: 1.5;
				margin-bottom: 20px;
			}
			.list-unstyled{
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				li{
					a{
						svg{
							height: 20px;
							path{
								fill: white;
								transition: linear 0.4s;
							}
						}
						&:hover,
						&:focus{
							svg{
								path{
									fill: #6D5DFB;
								}
							}
						}
					}
				}
			}
		}
	}
}