.home-banner{
	background-attachment: scroll;
	background-color: #0B0852;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	img{
		@include media-breakpoint-up(lg){
			height: 100%;
			left: 0;
			object-position: center;
			object-fit: cover;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	.home-banner-wrapper{
		height: 700px;
		@media (max-width: 1399.98px){
			height: 512px;
		}
		@include media-breakpoint-down(lg){
			height: 0;
		}
		@media (min-width: 2000px){
			padding-bottom: 75%;
		}
	}
}
.live-stream{
	padding: 30px 0;
	h1{
		align-items: center;
		color: #0536c1;
		column-gap: 10px;
		display: flex;
		flex-wrap: wrap;
		font-size: 36px;
		@include font-Poppins-Bold;
		justify-content: center;
		line-height: 1.25;
		margin-bottom: 0;
		row-gap: 10px;
		text-align: center;
		a{
			align-items: center;
			background-color: #0B0852;
			border-radius: 5px;
			color: white;
			display: inline-flex;
			font-size: 20px;
			justify-content: center;
			padding: 10px 20px;
		}
	}
}
.youtube-video{
	padding-bottom: 56.25%;
	position: relative;
	iframe{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
.home-content{
	padding: 60px 0;
	//@include media-breakpoint-down(xl){
	//	padding: 80px 0;
	//}
	//@include media-breakpoint-down(lg){
	//	padding: 60px 0;
	//}
	.home-content-wrapper{
		display: grid;
		grid-gap: 40px;
		grid-template-columns: 400px 1fr;
		@include media-breakpoint-down(lg){
			display: flex;
			flex-direction: column;
		}
		.home-content-contact{
			form{
				display: flex;
				flex-direction: column;
				row-gap: 20px;
				background-color: white;
				border: 1px solid #ddd;
				border-radius: 5px;
				box-shadow:
						-5px 0 10px rgba(0, 0, 0, 0.1),
						5px 0 10px rgba(0, 0, 0, 0.1),
						0 5px 10px rgba(0, 0, 0, 0.05);
				padding: 40px;
				.form-group{
					align-items: flex-start;
					display: flex;
					flex-direction: column;
					row-gap: 6px;
					h3{
						color: #6D5DFB;
						font-size: 24px;
						@include font-Poppins-Bold;
						margin-bottom: 0;
						text-align: center;
						width: 100%;
					}
					.form-label{
						color: #0B0852;
						font-size: 14px;
						@include font-Poppins-Medium;
						margin-bottom: 0;
						span{
							color: red;
						}
					}
					.form-control{
						//background-color: #6fbcc2;
						border-color: #6D5DFB;
						border-radius: 4px;
						box-shadow: none;
						color: #0B0852;
						font-size: 14px;
						@include font-Poppins-Regular;
						height: 46px;
						transition: linear 0.4s;
						//&:focus{
						//	border-color: #6D5DFB;
						//}
					}
					textarea{
						&.form-control{
							height: auto;
						}
					}
					.recaptcha-wrapper{
						@include media-breakpoint-down(sm){
							transform: scale(0.75);
							transform-origin: top left;
						}
					}
					.home-content-contact-submit {
						align-items: center;
						background: linear-gradient(45deg, #1E1A7A, #6D5DFB);
						border: none;
						border-radius: 6px;
						box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
						color: white;
						cursor: pointer;
						display: inline-flex;
						font-size: 15px;
						height: 46px;
						justify-content: center;
						outline: none;
						text-decoration: none;
						transition: background 0.4s ease, box-shadow 0.3s ease, transform 0.3s ease;
						width: 120px;
						@include font-Poppins-SemiBold;

						&:hover,
						&:focus {
							background: linear-gradient(225deg, #1E1A7A, #6D5DFB);
							box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
							outline: none;
							text-decoration: none;
							//transform: translateY(-2px);
						}
					}
				}
			}
		}
		.home-content-info{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
			@include media-breakpoint-down(md){
				grid-template-columns: 1fr;
			}
			.home-content-info-address{
				display: flex;
				flex-direction: column;
				row-gap: 20px;
				h3{
					color: #6D5DFB;
					font-size: 24px;
					@include font-Poppins-Bold;
					line-height: 1.5;
					margin-bottom: 0;
					span{
						color: #0B0852;
						font-size: 18px;
						@include font-Poppins-Medium;
					}
				}
				.home-content-info-items{
					display: grid;
					grid-gap: 15px;
					grid-template-columns: repeat(2, 1fr);
					@include media-breakpoint-down(xl){
						grid-template-columns: 1fr;
					}
					@include media-breakpoint-down(lg){
						grid-template-columns: repeat(2, 1fr);
					}
					@media (max-width: 424.98px){
						grid-template-columns: 1fr;
					}
					.home-content-info-item{
						.home-content-info-item-trigger{
							align-items: center;
							background-color: #0536c1;
							border-radius: 10px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							min-height: 85px;
							overflow: hidden;
							padding: 20px 10px;
							position: relative;
							row-gap: 10px;
							&:after{
								background-color: rgba(#320075, 0.85);
								content: '';
								height: 130%;
								left: -10%;
								position: absolute;
								top: 50%;
								transform: translateY(-50%) rotate(13deg);
								transition: linear 0.4s;
								width: 25%;
							}
							&:before{
								background-color: rgba(#1A0094, 0.85);
								content: '';
								height: 130%;
								left: -10%;
								position: absolute;
								top: 50%;
								transform: translateY(-50%) rotate(-13deg);
								transition: linear 0.4s;
								width: 25%;
							}
							span{
								color: white;
								font-size: 14px;
								@include font-Poppins-SemiBold;
								line-height: 1.25;
								text-align: center;
								text-transform: uppercase;
								position: relative;
								z-index: 1;
								&:last-of-type{
									color: #fd9800;
									display: none;
									//@include font-Poppins-Regular;
									//text-decoration: underline;
								}
							}
							&:hover,
							&:focus{
								&:after{
									background-color: rgba(#1A0094, 0.85);
								}
								&:before{
									background-color: rgba(#320075, 0.85);
								}
							}
						}
						.home-content-info-item-popups{
							align-items: center;
							background-color: rgba(black, 0.25);
							display: none;
							height: 100%;
							justify-content: center;
							left: 0;
							position: fixed;
							top: 0;
							width: 100%;
							z-index: 1030;
							.home-content-info-item-popups-container{
								background-color: white;
								border: 1px solid #ededed;
								border-radius: 5px;
								box-shadow:
										-5px 0 10px rgba(0, 0, 0, 0.1),
										5px 0 10px rgba(0, 0, 0, 0.1),
										0 5px 10px rgba(0, 0, 0, 0.05);
								max-width: 500px;
								width: 100%;
								@include media-breakpoint-down(md){
									max-width: 270px;
								}
								.home-content-info-item-popups-header{
									align-items: center;
									border-bottom: 1px solid #ededed;
									display: flex;
									justify-content: space-between;
									padding: 10px 15px;
									h5{
										color: #0536c1;
										font-size: 14px;
										@include font-Poppins-SemiBold;
										line-height: 1.25;
										margin-bottom: 0;
									}
									.home-content-info-item-popups-close{
										background-color: transparent;
										border: none;
										border-radius: 0;
										color: red;
										line-height: 1;
										padding: 0;
										svg{
											width: 16px;
											path{
												fill: red;
												fill-opacity: 1;
											}
										}
									}
								}
								.home-content-info-item-popups-body{
									display: flex;
									flex-direction: column;
									padding: 20px 15px;
									row-gap: 15px;
									.home-content-info-item-popups-item{
										align-items: flex-start;
										column-gap: 10px;
										display: flex;
										span{
											color: #0536c1;
											font-size: 20px;
											line-height: 0.5;
											&:last-of-type{
												color: #1E1A7A;
												font-size: 14px;
												@include font-Poppins-Regular;
												line-height: calc(20 / 14);
											}
											svg{
												height: 20px;
												width: 16px;
												path{
													fill: #0536c1;
													fill-opacity: 1;
												}
											}
										}
									}
								}
							}
							&.active{
								display: flex;
							}
						}
					}
				}
			}
		}
	}
}